<div class="ui menu">
  <div class="header item">Loan App</div>
  <div class="active item">Dashboard</div>
  <a class="item">User</a>
  <%= link_to "Customers", customers_path, class: "item"  -%>
  <%= link_to "Attribute Options", attribute_options_path, class: "item"  -%>
  <%= link_to "Collaterals", collaterals_path, class: "item"  -%>
  <%= link_to "Collateral Types", collateral_types_path, class: "item"  -%>
  <%= link_to "Attachments", attachments_path, class: "item"  -%>
	<%= link_to "Loans", loans_path, class: "item"  -%>


  <div class="right menu">
    <div class="ui dropdown item" tabindex="0">
			<%= image_tag 'profile.svg', class: "ui avatar  image" %>
			<span>Fateh Singh</span>
      <div class="menu" tabindex="-1">
        <div class="item">User</div>
        <div class="item">Customer</div>
        <div class="item">Something else here</div>
        <div class="divider"></div>
        <div class="item">Separated Link</div>
        <div class="divider"></div>
        <div class="item">One more separated link</div>
      </div>
    </div>
  </div>
</div>
