<h4 class="ui dividing header">New Attribute Option</h4>
<%= form_with url: attribute_options_path, class: "ui form"  do |form| %>
  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <!-- <input type="text" placeholder="Name"> -->
        <%= form.text_field :name %>
      </div>
      <div class="field">
        <label>Display Name</label>
        <!-- <input type="text" placeholder="Display Name"> -->
        <%= form.text_field :display_name %>
      </div>
    </div>
  </div>
<hr>
<div id="app">
        {{ message }}
    </div>
<%= form.submit %>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
  var attribute_option_values = "<%= @attribute_option_values.to_json %>";
  console.log(attribute_option_values)
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })

</script>
