<!DOCTYPE html>
<html>
  <head>
    <title>Loan App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="ui container">
        <%= yield %>
    </div>
    <div id="alerts_container">
      <%= render 'shared/alerts' %>
    </div>
  </body>
</html>
